// Colors
$white: #ffffff;
$black: #000000;

// Sizes
$base-font-size: 16px;

$content-size: 1024px;

// Fonts

// text color vars
// .text-white{
//     color: $color_white
// }
// .text-dark{
//     color: $color_dark
// }
// .text-accent{
//     color: $color-accent;
// }
// .text-default{
//     color: $color_text
// }
// .text-secondary{
//     color: $color_text_secondary
// }
// .text-secondary-light{
//     color: $color_text_secondary_light
// }