@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/smart-grid";


html {
  font-size: $base-font-size;
  height: 100%;
  font-family: $default_font;
  overflow-x: hidden;
  min-width: 320px;
  @media screen and (max-width: 1000px){
    font-size: 14px;
  }
  @media screen and (max-width: 768px){
    font-size: 12px;
  }
}

body {
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
  vertical-align: middle;
}

textarea {
  resize: none;
}

section {
  position: relative;
}

input,
select,
button {
  outline: none;
  border: none;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.body-wrapper {
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
}

.content {
  flex: 1 0 auto;
}

.container {
  margin: 0 auto;
  width: 100%;
  @include wrapper;
}
  //Модули
@import "modules/modules";